@tailwind base;
@tailwind components;
@tailwind utilities;

/* /app/globals.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  margin-top: 20px;
}

input, button {
  margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

